<div class="row">
	<div class="col-md-offset-2  col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Create Course Record</div>
				<div class="btn-group pull-right">

				</div>
			</div>
			<div class="panel-body">
				<form id="dataForm" role="form" class="form-horizontal">
					<div class="form-group col-md-12">
						<label class="control-label  col-md-4" for="courseNameInput">Course Name</label>

						<input type="text" id="courseNameInput" name="courseNameInput" class="form-control font-bold"
													maxlength="100" placeholder="Course name" value="" />

					</div>
					<div class="form-group col-md-12">
						<label class="control-label col-md-4" for="courseAbbreviationInput">Course Abbreviation</label>
						<input type="text" id="courseAbbreviationInput" name="courseAbbreviationInput" 
                               class="form-control font-bold"
													placeholder="Course abbreviation" value="" />

					</div>
					<div class="form-group col-md-12">
						<label class="control-label col-md-1"></label>
						<div class="col-md-10">
							<div class="pull-right">
								<input type="button" class="btn btn-primary" value="Save" id="saveButton" />
								<a class="btn btn-default" asp-action="Index" asp-controler="Courses">Cancel</a>
							</div>
						</div>
					</div>
				</form>
			</div><!-- end of div element which has the class="panel-body" -->
		</div><!-- end of the div element which has the class="panel" -->
	</div><!-- end of the div element which as the  class="col-md-offset-2 col-sm-8"-->
</div><!-- end of div element with class="row" -->

<script>
	//Using a function technique to create a JavaScript class, WebFormData
	function WebFormData(inCourseName,inCourseAbbreviation) {
		this.courseName = inCourseName;
		this.courseAbbreviation = inCourseAbbreviation;
	}

	$('#saveButton').on('click', function () {
		var collectedCourseName = $('#courseNameInput').val();
		var collectedCourseAbbreviation = $('#courseAbbreviationInput').val();

		//Create a JavaScript object to contain the course name and course abbreviation information
		var webFormData = new WebFormData(collectedCourseName, collectedCourseAbbreviation);

		//Serialize the webFormData object which contains the course name, course abbreviation
		//data into a flat string. So that, it can be sent accross the Internet network successfully.
		var webFormDataInString = JSON.stringify(webFormData);

		$saveCourseHandler = jQuery.ajax({
			type: 'POST',
			url: '/API/Courses/',
			dataType: 'json',
			contentType: 'application/json;',
			data: "'" + webFormDataInString + "'"
		})//end of ajax() call
		$saveCourseHandler.done(function (data, textStatus, jqXHR) {
			new Noty({
				text: data.message, type: 'success',
				layout: 'center',
				template: '<div class="noty_message"><span class="noty_text"></span>'
			}).show();
		});//end of saveCourseHandler.done();
		$saveCourseHandler.fail(function (data, textStatus, jqXHR) {
			console.log(textStatus);
			console.log(data);
			console.log(jqXHR);
			new Noty({
				text: data.responseJSON.message, type: 'error',
				layout: 'center',
				template: '<div class="noty_message"><span class="noty_text"></span>'
			}).show();
		});//end of $saveCourseHandler.fail();
	});//end of $('#saveButton').on('click', function () {

</script>





