<div class="row">
    <div class="col-md-offset-2  col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Create Customer Account</div>
                <div class="btn-group pull-right">

                </div>
            </div>
            <div class="panel-body">

                <form id="dataForm" role="form" class="form-horizontal">
                    <div class="form-group col-md-12">
                        <h4 style="padding-left:18px">General Information</h4>
                        <table border="0">
                            <tr>
                                <td class="lblall"> <label for="accountNameInput">Account name</label></td>
                                <td class="inptall">
                                    <input type="text" id="accountNameInput" name="accountNameInput"
                                           maxlength="100" placeholder="Account Name" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="form-group col-md-12">
                        <table border="0">
                            <tr>

                                <td class="lblall"><label for="visibilityInput">Visibility</label></td>
                                <td class="inptall"><input type="checkbox" data-toggle="toggle" name="visibilityInput" id="visibilityInput" checked /></td>
                            </tr>
                        </table>

                    </div>

                    <div class="form-group col-md-12">
                        <table>
                            <tr>
                                <td class="lblall"> <label for="commentsInput">Comments</label></td>
                                <td class="inptall">
                                    <textarea id="commentsInput" name="commentsInput"
                                              placeholder="Comments" value=""></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group col-md-12">
                        <hr />
                    </div>


                    <div class="form-group col-md-12">
                        <h4 style="padding-left:18px">Rate per hour</h4>

                        <table border="0">
                            <tr>
                                <td class="lblall"> <label for="ratePerHourInput">Rate per hour</label></td>

                                <td class="inptall">
                                    <input type="text" id="ratePerHourInput" name="ratePerHourInput"
                                           placeholder="Rate Per Hour" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group col-md-12">
                        <table border="0">
                            <tr>
                                <td class="lblall"><label for="sdatepicker">Effective start date</label></td>

                                <td class="inptall">
                                    @*<div id="eStartDateInput" name="eStartDateInput">
                                 </div>*@
                                    <div class='date-picker input-group date' id="sdatepicker">
                                        <input type='text' class="form-control" readonly="readonly" name="sdatepicker" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="lblall"></td>
                                <td class="inptall"><label id="sdatepicker-error" class="error" for="sdatepicker"></label></td>
                            </tr>
                        </table>
                    </div>


                    <div class="form-group col-md-12">
                        <table border="0">
                            <tr>
                                <td class="lblall"><label for="edatepicker">Effective end date</label></td>

                                <td class="inptall">
                                    @*<div id="eEndDateInput" name="eEndDateInput">
                                     </div>*@
                                    <div class='date-picker input-group date' id="edatepicker">
                                        <input type='text' class="form-control" readonly="readonly" name="edatepicker" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>


                                </td>

                            </tr>
                            <tr>
                                <td class="lblall"></td>
                                <td class="inptall"><label id="edatepicker-error" class="error" for="edatepicker"></label></td>
                            </tr>
                        </table>

                    </div>




                    <div class="form-group col-md-12">
                        <label class="control-label col-md-1"></label>
                        <div class="col-md-10">
                            <div class="pull-right">
                                <input type="button" class="btn btn-primary" value="Save" id="saveButton" />
                                <a class="btn btn-default" asp-action="ManageCustomerAccounts" asp-controller="CustomerAccounts">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div><!-- end of div element which has the class="panel-body" -->
        </div><!-- end of the div element which has the class="panel" -->
    </div><!-- end of the div element which as the  class="col-md-offset-2 col-sm-8"-->
</div><!-- end of div element with class="row" -->

@section scripts{
    <link href="~/lib/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/lib/jqwidgets/jqwidgets/styles/jqx.blackberry.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqx-all.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script>
           $('#sdatepicker').datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
            orientation: 'bottom'

        });

        $("#edatepicker").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
            orientation: 'bottom',
            clearBtn: true
        });



        $('td').css('width', '230px');

        $('.lblall').css('text-align', 'right');
        $('.lblall').css('display', 'block');

        $('.inptall').css('width', '400px');
        $('.inptall').css('padding-left', '30px');

        //const sDate = $('#eStartDateInput');
       // sDate.jqxDateTimeInput({ width: '230px', height: '25px', theme: 'blackberry', readonly: true, allowKeyboardDelete: false });

       // const eDate = $('#eEndDateInput');
        //eDate.jqxDateTimeInput({ width: '230px', height: '25px', theme: 'blackberry', readonly: true });
        setupFormValidationRules();


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }


        
        function setupFormValidationRules() {

            //NO BLANK FIELD
            $.validator.addMethod("noSpace", function (value, element) {
                return value.match(/^([a-zA-Z0-9]+[a-zA-Z0-9\s]*[a-zA-Z0-9]+|[a-zA-Z0-9]*)$/);
            }, "Invalid format/Empty field".fontsize('2px').fontcolor('red'));


            //NUMBERS 2 DECIMAL PLACE ONLY
            $.validator.addMethod("numbers", function (value, element) {
                return value.match(/^[0-9]+(\.[0-9]{1,2})?$/);
            }, "Please specify positive numbers in 2 decimal place".fontsize('2px').fontcolor('red'));

            $.validator.addMethod("enddate", function (value, element) {
               // var sDate = $('#eStartDateInput').val('date');
               // var eDate = $('#eEndDateInput').val('date');
             var sDate = formatDate($('#sdatepicker').datepicker('getDate'));
                var eDate = null;
                if ($('#edatepicker').datepicker('getDate') != null) {
                    var eyear = $('#edatepicker').data('datepicker').getFormattedDate('yyyy');
                    var emonth = $('#edatepicker').data('datepicker').getFormattedDate('mm');
                    var edate = new Date(eyear, emonth, 0);
                    eDate = formatDate(edate);
                }
              
                return (eDate) >= (sDate) || eDate == null;
            }, "End Date should be greater than Start Date.".fontsize('2px').fontcolor('red'));

            $("#dataForm").validate({
                rules: {
                    accountNameInput: {
                        required: true,
                        noSpace: true
                    },
                    ratePerHourInput: {
                        required: true,
                        numbers: true
                    },
                    edatepicker: {
                        enddate: true
                    },
                    sdatepicker: {
                        required: true
                    }
                   
                },
                messages: {

                    accountNameInput: {
                        required: "This field is required".fontsize('3px').fontcolor('red')
                    },
                    ratePerHourInput: {
                        required: "This field is required".fontsize('3px').fontcolor('red')
                    },
                    sdatepicker:{
                        required: "This field is required".fontsize('3px').fontcolor('red')
                    }
                }
            })
        }//END OF VALIDATION


        function WebFormData(inAccountName, inIsVisible, inComments, inRatePerHour, ineStartDate, ineEndDate) {
            this.AccountName = inAccountName;
            this.IsVisible = inIsVisible;
            this.Comments = inComments;
            this.ratePerHour = inRatePerHour;
            this.eStartDate = ineStartDate;
            this.eEndDate = ineEndDate;
        }

        var check = 1;
        var visval = $("#visibilityInput").change(function () {

            if ($(this).prop("checked") == true) {
                check = 1;
                this.val = 1;
            }
            else {
                check = 0;
                this.val = 0;
            }
        });

        $('#eEndDateInput').on('valueChanged', function () {
            $('#dataForm').valid();
        });

        $('#saveButton').on('click', function () {
            $('#dataForm').validate();

            if ($('#dataForm').valid()) {
                visval;
                var collectedAccountName = $('#accountNameInput').val();
                var collectedVisibility = check;
                var collectedComments = $('#commentsInput').val();

                var collectedRatePerHour = $('#ratePerHourInput').val();

               // var collectedeStartDate = $('#eStartDateInput').val();
                var sdate = $('#sdatepicker').data('datepicker').getFormattedDate('yyyy/mm/01');
                var collectedeStartDate = formatDate(sdate);


                //var collectedeEndDate = null;
                //if ($('#eEndDateInput').val() != ""){
                //    collectedeEndDate = $('#eEndDateInput').val();
                //}
                var collectedeEndDate = null;
                if ($('#edatepicker').datepicker('getDate') != null) {
                    var eyear = $('#edatepicker').data('datepicker').getFormattedDate('yyyy');
                    var emonth = $('#edatepicker').data('datepicker').getFormattedDate('mm');
                    var edate = new Date(eyear, emonth, 0);
                    collectedeEndDate = formatDate(edate);

                }



                var webFormData = new WebFormData(collectedAccountName, collectedVisibility, encode1(collectedComments), collectedRatePerHour, collectedeStartDate, collectedeEndDate);
                var webFormDataInString = JSON.stringify(webFormData);

                $updateCustomerHandler = $.ajax({
                    method: 'POST',
                    url: '/API/CustomerAccounts/',
                    dataType: 'json',
                    contentType: 'application/json;',
                    data: "'" + webFormDataInString + "'"
                })

                $updateCustomerHandler.done(function (data, textStatus, jqXHR) {
                    new Noty({
                        text: data.message, type: 'success',
                        theme: 'sunset',
                        layout: 'center',
                        template: '<div class="noty_message"><span class="noty_text"></span>'
                    }).show();
                })

                $updateCustomerHandler.fail(function (data, textStatus, jqXHR) {
                    new Noty({
                        text: data.responseJSON.message, type: 'error',
                        theme: 'sunset',
                        layout: 'center',
                        template: '<div class="noty_message"><span class="noty_text"></span>'
                    }).show();
                });

            }//end of validate

        });//END OF SAVEBUTTON


        //this function is to allow quotes to be save in JSONDATA replace with %
        function encode1(w)
        { return w.replace(/[^]/g, function (w) { return '%' + w.charCodeAt(0).toString(16) }) }


        //decodeURIComponent


    </script>
}
