<div class="row">

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-heading">
                Manage Session Synopses

                <div class="btn-group pull-right">
                    <a asp-action="Create" asp-controller="SessionSynopses"
                       class="btn btn-default btn-group-lg ">Add</a>
                </div>
            </div>
        </div>
   
        <div class="panel-body">
            <!-- <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Session Synopsis Name</th>
                                <th>Visibility</th>
                                <th>Created By</th>
                                <th>Updated By</th>
                                <th>Actions</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="SessionSynopsesTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>-->
            <div id="dataTable"></div>
        </div>

    </div>

    @section scripts{
        <link href="~/lib/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <script src="~/lib/jqwidgets/jqwidgets/jqx-all.js"></script>

        <script>

            //loadSessionData();

            //function loadSessionData() {
            //    var $loadSessionDataHandler = $.ajax({
            //        url: '/Api/SessionSynopses/',
            //        method: 'GET',
            //        dataType: 'json',
            //        cache: false,
            //    });


            //    $loadSessionDataHandler.done(function (data, textStatus, jqXHR) {
            //        //This done method will
            //        //The (data) input parameter automatically captures the response from the
            //        //Get() API method which is labelled to handle this GET request.

            //        var sessionList = data;
            //        var SessionSynopsisId = '';
            //        var createdBy = "";
            //        var IsVisible = '';
            //        var SessionSynopsisName = "";
            //        var updatedBy = "";
            //        var $tableElement = null;
            //        var $cellElement = null;
            //        var $rowElement = null;

            //        //-------- Find the table element -----------
            //        //I am using the $tableElement variable
            //        //to represent the found HTML element which has a matching id of courseTableBody
            //        $tableBodyElement = $('#SessionSynopsesTableBody');

            //        //I want to build rows and cells (using tr and td HTML elements) so that
            //        //I can display course name, course abbreviation, created at, updated at information
            //        //within the HTML table element, courseTableBody. Recall that, I have already asked the
            //        //$tableBodyElement variable to represent (reference) the table element.

            //        //-------- Begin creating <tr> and <td> HTML element ------
            //        for (index = 0; index < sessionList.length; index++) {
            //            //Set this course variable to reference a course object
            //            //inside the courseList Array.
            //            sessions = sessionList[index];
            //            sessionSynopsisId = sessions.sessionSynopsisId;
            //            sessionSynopsisName = sessions.sessionSynopsisName;


            //            isVisible = sessions.isVisible;
            //            if (isVisible == true) {
            //                isVisible = "\u2714";

            //            }
            //            else {
            //                isVisible = "\u2718";
            //            }
            //            createdBy = sessions.createdBy;
            //            updatedBy = sessions.updatedBy;


            //            //Create new HTML <tr> element.
            //            //At the same time let the $rowElement variable to represent it.
            //            $rowElement = $('<tr></tr>');
            //            //Create the 1st cell element which display company name.
            //            //  $cellElement = $('<td></td>', { text: sessionSynopsisId });
            //            // $rowElement.append($cellElement);


            //            //Create the 2nd cell element which display address
            //            $cellElement = $('<td></td>', { text: sessionSynopsisName });
            //            $rowElement.append($cellElement);
            //            //Create the 3rd cell element which display postal code
            //            $cellElement = $('<td></td>', { text: isVisible });
            //            $rowElement.append($cellElement);


            //            //Create the 4th cell element which display created at information
            //            $cellElement = $('<td></td>', { text: createdBy });
            //            $rowElement.append($cellElement);
            //            //Create the 5th cell element which display updated at information
            //            $cellElement = $('<td></td>', { text: updatedBy });
            //            $rowElement.append($cellElement);

            //            //---------------- Using jQuery() to create the hyperlink element using the <a></a> --------
            //            $hyperLinkElement = $('<a>Update Session</a>').attr('href', '/SessionSynopses/Update/' + sessionSynopsisId);
            //            $hyperLinkElement.addClass('btn btn-primary');
            //            //The $hyperLinkElement eventually represents (references) a HTML element which is:
            //            //<a href="<base url>/Courses/<course id>" class="btn btn-primary" >Update Course</a>
            //            //-----------------Using jQuery() to creating the 7th cell for the row----------------------
            //            $cellElement = $('<td></td>');
            //            //-----------------Add the previous created hyperlink element, $hyperLinkElement
            //            //                 into the newly created 7th cell.
            //            //As a result, $cellElement references an element defined by:
            //            //<td><a href="<base url>/Courses/<course id>" class="btn btn-primary" >Update Course</a></td>
            //            $cellElement.append($hyperLinkElement);
            //            $rowElement.append($cellElement);

            //            //Insert the $rowElement into the table element represented by $tableBodyElement.
            //            $tableBodyElement.append($rowElement);
            //            //----End of creating one row to display one course by using <tr> and <td> HTML element ---
            //        }//end of for loop.
            //    }//end of JavaScript anonymous function
            //    );//end of the done() method;
            //    $loadSessionDataHandler.fail(function (data, textStatus, jqXHR) {
            //        noty({
            //            text: 'Ajax call has failed due to : ' + data.statusText, type: 'error',
            //            layout: 'center',
            //            template: '<div class="noty_message"><span class="noty_text"></span>'
            //        });//end of noty()
            //    });//end of $loadCourseDataHandler.fail()
            //}//end of loadCourseData();

            let disvis = function (row, column, value) {
                if (value == true) {
                   return  "\u2714";

                }
                else {
                    return "\u2718";
                }

            }

            let disbtn = function (row, column, value) {            
                return `<a href='/SessionSynopses/Update/${value}' class="btn btn-primary center-block">Update Session</a>`

            }


            var url = "/Api/SessionSynopses/";

            var source =
                {
                    dataType: "json",
                    dataField: [
                        { name: 'sessionSynopsisName', type: 'string' },
                        { name: 'isVisible', type: 'boolean' },
                        { name: 'createdBy', type: 'string' },
                        { name: 'updatedBy', type: 'string' }
                    ],
                    id: 'sessionSynopsisId',
                    url: url
                }

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#dataTable").jqxDataTable(
                {

                    width: '100%',
                    pageable: true,
                    pagerButtonsCount: 10,
                    filterable: true,
                    filterMode: 'simple',
                    source: dataAdapter,
                    columnsResize: true,
                    columns: [
                        { text: 'Session Synopsis Name', dataField: 'sessionSynopsisName', width: '20%' },
                        { text: 'Visibility', dataField: 'isVisible', width: '20%', cellsrenderer: disvis },
                        { text: 'Created By', dataField: 'createdBy', width: '20%' },
                        { text: 'Updated By', dataField: 'updatedBy', width: '20%' },
                        { text: 'Actions', dataField: 'sessionSynopsisId', cellsrenderer: disbtn, cellclassname:'column', width:'20%'}
                    ]
                });


        </script>
    }
