<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
    <h2>TimeSheet Management System</h2><br />
   This TimeSheet Management solution is often needed by small business enterprises which provide:<br />
        <ul>
            <li>classes that centers around performing arts (dance, singing etc.)</li>
            <li>tuition on school subjects</li>
        </ul>
    <p></p>
    <b>User Role information</b><br />
        <ul>
            <li> The administrator user can logon to the system to manage class lesson records, account records, view instructor time sheet, manage class lesson schedules</li>
            <li> The officer user can logon to the system to submit their time-in and time-out information, view their class schedules.</li>
        </ul>
    </div>
</div>